*{
    font-family: "Helvetica Neue", sans-serif;
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.contiene{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: dashed;
    border-width: 3px;
    border-color: cornflowerblue;
}
.contenedor-contenedor{
    width: 30%;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
}
label{
    display: flex;
    flex-direction: column;
}
input{
    font-size: 20px;
    align-items: center;
    margin-bottom: 5px;
}
img{
    width:100%;
}
/* Oculta el input de tipo file */
input[type="file"] {
    display: none;
}
 button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  /* Estilo para cambiar el color del botón cuando está desactivado */
  /*button {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }*/

  .progress {
    height: 20px;
    margin-top: 10px;
  }

  .progress-bar {
    background-color: #4caf50;
  }

  .error-message {
    color: red;
  }


