<div class="container my-5">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4 class="mb-0">Parámetros de inventario</h4>
        </div>
        <div class="card-body">
            <div class="row font-weight-bold mb-3 text-center">
                <div class="col-md-4">Descripción</div>
                <div class="col-md-8">Valor</div>
            </div>
            <div *ngFor="let dato of parametros">
                <form>
                    <div class="form-group row align-items-center">
                        <label for="descripcion-{{ dato.valKey }}" class="col-md-4 col-form-label">{{ dato.description }}</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="descripcion-{{ dato.valKey }}" placeholder="{{ dato.valKey }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
