*{
    font-family: "Helvetica Neue", sans-serif;
}
.contenedor-formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contenedores{
    width: 60%;
    margin-top: 20px;
}
.contiene{
    display: flex;
}
.contenedor-uno{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 2px;
}
.contenedor-dos{
    display: flex;
    width: 50%;
    margin-left: 20px;
}
label{
    padding-right: 10px;
}
input{
    text-align: center;
}
.titulo{
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding: 10px;
    text-align: center;
}
.titulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.titulo-uno{
    background-color: cornflowerblue;
    width: 30%;
    font-weight: 700;
    margin-right: 2px;
}
.titulo-dos{
    background-color: cornflowerblue;
    width: 30%;
    font-weight: 700;
}





